.terraform/
.env
env/
*.tfstate
*.tfstate.*
#*.tfvars
#*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
.terraformrc
terraform.rc
txt
myplan
test/
credential.json
